<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.sidecarkeeper.agent</string>
  <key>ProgramArguments</key><array>
    <string>@@BIN_DIR@@/sidecar-keeper</string>
    <string>--device</string><string>@@DEVICE@@</string>
    <string>--launcher</string><string>@@BIN_DIR@@/SidecarLauncher</string>
    <string>--log</string><string>@@LOG_DIR@@/sidecar-keeper.log</string>
    <!--@@EXTRA_ARGS@@-->
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>@@LOG_DIR@@/sidecar-keeper.out</string>
  <key>StandardErrorPath</key><string>@@LOG_DIR@@/sidecar-keeper.out</string>
</dict></plist>
